PANDAS FUNCTIONS

In [29]:
import pandas as pd
csv=pd.read_csv("C:\\Users\\hp\\OneDrive\\Desktop\\jupyter\\test.csv")

csv.index
csv.columns
csv.describe()
csv.head(1)
csv.tail(2)
csv[0:2]
csv.index.array
csv.to_numpy()
csv.loc[0,1]="python"
csv.drop("b",axis=1)

   Unnamed: 0  a       1
0           0  1  python
1           1  2     NaN
2           2  3     NaN